html * {
  box-sizing: border-box;
}

body {
  background-color: blanchedalmond;
  cursor: url(images/cursor.png), default;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.gameWrapper {
  background: url(images/background.png) no-repeat;
  background-size: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 60px 0px 50px;
  justify-content: center;
  margin-top: 1rem;
  width: 1550px;
  height: 900px;
}

.holes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}

.grid_end1 {
  grid-column-start: 2;
}

.hole {
  border: 1px solid black;
  background-color: black;
  border-radius: 100%;
  width: 210px;
  height: 210px;
  margin: 0 5em;
  text-align: center;
}

.hole:hover {
  cursor: url(images/cursor-worm.png), default;
}

.mole {
  width: 130%;
  position: relative;
  right: 28px;
}

.gameOver {
  display: block;
  width: 60%;
  margin: auto;
  text-align: center;
}

.win {
  width: 80%;
}

.worm {
  width: 900px;
}

.worm_container {
  margin-left: 7rem;
  overflow: hidden;
  max-width: 90px;
}

.hide {
  display: none;
}

.placeholder {
  width: 1500px;
  height: 300px;
}
